@using Resources = ADOPets.Web.Resources.Wording;
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model

@{
    ViewBag.Title = Resources.Smo_Edit_Title;
    Layout = null;
}

@if (string.IsNullOrEmpty(Convert.ToString(ViewData["PDFFileName"])))
{
    <b>Unable to create PDF</b>
}
else
{
    <iframe src="@Url.Content(ViewData["PDFFileName"].ToString())"  style="width:100%;height:700px;">
        <p>IFrame is not supported.</p>
    </iframe>
}