use [ADOPets_rev]
/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.[User] SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ExpertBioData
	DROP CONSTRAINT FK_ExpertBioData_Veterinarian
GO
ALTER TABLE dbo.ExpertBioData
	DROP CONSTRAINT FK_ExpertBioData_Veterinarian1
GO
ALTER TABLE dbo.Veterinarian SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ExpertBioData ADD CONSTRAINT
	FK_ExpertBioData_User FOREIGN KEY
	(
	VeterinaryId
	) REFERENCES dbo.[User]
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.ExpertBioData ADD CONSTRAINT
	FK_ExpertBioData_User1 FOREIGN KEY
	(
	VeterinaryExpertId
	) REFERENCES dbo.[User]
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.ExpertBioData SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
