  
use ADOPets_Rev
EXEC sp_RENAME 'TimeZone.Code' , 'Name', 'COLUMN'
Go  
  
ALTER TABLE [ADOPets_Rev].[dbo].[TimeZone]
ALTER COLUMN [Name] varchar(200)

  
INSERT INTO  [ADOPets_Rev].[dbo].[TimeZone]([Name]) values( 'GMT-12:00 International Date Line (West)')
INSERT INTO  [ADOPets_Rev].[dbo].[TimeZone]([Name]) values( 'GMT-11:00 Coordinated Universal Time')
INSERT INTO  [ADOPets_Rev].[dbo].[TimeZone]([Name]) values( 'GMT-10:00 Hawaii')
  