@using Resources = ADOPets.Web.Resources.Wording


<div id="main_loginbx" style="min-height: 500px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding: 10px 15px;">
                    <h3 class="panel-title">@Resources.Account_ForgotPassword_Information </h3>
                </div>
                <div class="panel-body">
                    <p class="text-success">@Resources.Account_ForgotPassword_EmailMsg </p>
                    <div class="pull-left" style="margin-bottom: 15px;"><a href="@Url.Action("Login", "Account")">@Resources.Account_ForgotPassword_BackToLogin</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

