@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Econsultation.EditDetailsModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@Resources.Econsultation_Withdraw_ConfirmationMsg</h4>
        </div>
            <div class="modal-footer">
                <a href="@Url.Action("DeleteEC", "Econsultation", new { id = Model.Id })" class="btn btn-warning">@Resources.Pet_Index_StatusConfirmationOkLabel</a>
                <a href="#" class="btn btn-primary" data-dismiss="modal">@Resources.Pet_Index_StatusConfirmationCancelLabel</a>
            </div>
    </div>
</div>

