
<div class="panel panel-primary">
  <div class="panel-body text-primary" style="font-weight:600;">
    Start Time- 4:00PM <span style="padding:0 20px;">End Time- 6:00PM</span> Total Duration- 2 Hrs <span style="padding:0 20px;">Date- 11/28/2014</span>
  </div>
</div>

<form>
       <div class="form-group">
    <label for="exampleInputEmail1">Diagnosis:</label>
    <textarea class="form-control" rows="3" placeholder="Enter here"></textarea><br>
    <label for="exampleInputEmail1">Treatment:</label>
    <textarea class="form-control" rows="3" placeholder="Enter here"></textarea>
  </div>
<div class="attachment2" style="margin-top:10px;">
        <a href="#" class="btn btn-success attachBtn" style="margin-right:15px;"><span class="fa fa-paperclip"></span> <input type="file" id="customattch"></a>
        <!--####this for doc file####-->
        <a href="temp/dummyDoc.docx" class="btn btn-default"><i class="fa  fa-file-word-o"></i> dummyDoc.docx
        <button type="button" class="removeAttach"><span class="fa fa-times"></span></button></a>
        <!--####this for text ####-->
        <a href="temp/dummyTxt.txt" class="btn btn-default" target="_blank"><i class="fa  fa-file-text-o"></i>dummyTxt.txt 
        <button type="button" class="removeAttach"><span class="fa fa-times"></span></button></a>
        <!--####this for photo/image ####-->
        <a href="temp/dummyImg.jpg" class="btn btn-default" target="_blank"><i class="fa fa-file-photo-o (alias)"></i>dummyImg.jpg
        <button type="button" class="removeAttach"><span class="fa fa-times"></span></button></a>
        <!--####this for pdf ####-->
        <a href="temp/dummyPdf.pdf" class="btn btn-default" target="_blank"><i class="fa fa-file-pdf-o"></i>dummyPdf.pdf
        <button type="button" class="removeAttach"><span class="fa fa-times"></span></button></a>
        <!--####this for excel ####-->
        <a href="temp/dummyXlsx.xlsx" class="btn btn-default" target="_blank"><i class="fa fa-file-excel-o"></i>dummyXlsx.xlsx
        <button type="button" class="removeAttach"><span class="fa fa-times"></span></button></a>
        <!--####this for zip file####-->
        <!--<a href="temp/dummyZip.zip" class="btn btn-default" target="_blank"><i class="fa fa-file-zip-o"></i>dummyZip.zip
        <button type="button" class="removeAttach"><span class="fa fa-times"></span></button></a>-->
        <!--####this for audio file####-->
        <!--<a href="temp/dummyAudio.mp3" class="btn btn-default" target="_blank"><i class="fa fa-file-audio-o"></i>dummyAudio.mp3
        <button type="button" class="removeAttach"><span class="fa fa-times"></span></button></a>-->
        <!--####this for video ####-->
        <!--<a href="temp/dummyVideo.mp4" class="btn btn-default" target="_blank"><i class="fa fa-file-video-o"></i>dummyVideo.mp4
        <button type="button" class="removeAttach"><span class="fa fa-times"></span></button></a>-->
        <!--####this for powerpoint####-->
        <!--<a href="temp/dummyPowerpoint.ppt" class="btn btn-default" target="_blank"><i class="fa fa-file-powerpoint-o"></i>dummyPowerpoint.ppt
        <button type="button" class="removeAttach"><span class="fa fa-times"></span></button></a>-->
        <!--####this for other file format####-->
        <!--<a href="temp/dummyOther.php" class="btn btn-default" target="_blank"><i class="fa fa-file-o"></i>dummyOther.php
        <button type="button" class="removeAttach"><span class="fa fa-times"></span></button></a>-->
        
      </div>
      
      

        <hr>
       <div class="form-group">
       <div class="col-md-6">
          <a href="smo-detials.html" class="btn btn-info btn-lg pull-right" style="margin-left:4px;">Save</a>
          <a href="smo-detials.html" class="btn btn-primary btn-lg pull-right"><i class="fa fa-arrow-left"></i> Back</a>
          </div>
          <div class="col-md-6">
            <a href="previewSMO.html" class="btn btn-warning btn-lg">EC Preview</a>
             <a href="previewSMO.html" class="btn btn-success btn-lg">Submit</a>
          </div>
        </div>
        <div class="clearfix"></div>
        </form>